spring:
  application:
    name: admin-server
  cloud:
    config:
      enabled: false  # Disable config server for local dev

server:
  port: 8084

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: false
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  level:
    de.codecentric.boot.admin: DEBUG
