spring:
  application:
    name: eureka-server
  cloud:
    config:
      enabled: false  # Disable config server for local dev

server:
  port: 8761

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    com.netflix.eureka: INFO
    com.netflix.discovery: INFO
